build
lib/node.lib
cpp-binding/include/js_native_api.h
cpp-binding/include/js_native_api_types.h
cpp-binding/include/napi.h
cpp-binding/include/napi-inl.h
cpp-binding/include/node_api.h
cpp-binding/include/node_api_types.h
packages/cpp-binding/osu.Native.dll
.cache
dist
node_modules
test.ts
