name: Deploy

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: "tosuapp/osu branch name"
        required: false
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  publish-custom-osu:
    if: ${{ inputs.branch_name != '' }}
    uses: ./.github/workflows/publish-custom-osu.yml
    with:
      branch_name: ${{ inputs.branch_name }}

  publish-standard:
    if: ${{ inputs.branch_name == '' }}
    uses: ./.github/workflows/publish-standard.yml
