name: Deploy

on:
  workflow_dispatch:
    inputs:
      pr_id:
        description: "osu PR id (optional for custom build)"
        required: false
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  publish-custom-osu:
    if: ${{ inputs.pr_id != '' }}
    uses: ./.github/workflows/publish-custom-osu.yml
    with:
      pr_id: ${{ inputs.pr_id }}

  publish-standard:
    if: ${{ inputs.pr_id == '' }}
    uses: ./.github/workflows/publish-standard.yml
