name: Publish Standard

on:
  workflow_call:

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.22.0"
          registry-url: 'https://registry.npmjs.org'

      - name: Setup npm 11
        shell: bash
        run: |
          npm install -g npm@11

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "10.10.0"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Checkout osu-native
        uses: actions/checkout@v4
        with:
          repository: tosuapp/osu-native
          path: .work/osu-native
          fetch-depth: 1
          submodules: recursive

      - name: Build osu-native
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE
          dotnet publish ".work/osu-native/osu.Native/osu.Native.csproj" -c Release -r win-x64

      - name: Copy osu.Native.dll
        shell: bash
        run: |
          DLL_PATH="$(find ".work/osu-native/Artifacts/publish/osu.Native/release_win-x64" -name "osu.Native.dll" -print -quit)"
          cp "$DLL_PATH" "packages/cpp-binding/osu.Native.dll"

      - name: Build packages
        run: pnpm -r --filter "./packages/*" build

      - name: Publish packages
        env:
          NPM_CONFIG_PROVENANCE: true
        run: pnpm -r --filter "./packages/*" publish --access public --provenance
